body {
  max-width: 600px;
  background-image: url(../images/musical_notes.jpg);
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: Papyrus, fantasy;
  font-size: 60px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 26.4px;
  text-align: center;
}

#player1 {
  font-family: Papyrus, fantasy;
  display: inline;
  width: 120px;
  margin: auto;
  margin-top: 30px;
  color: red;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 26.4px;
  text-align: center;
}

#player2 {
  font-family: Papyrus, fantasy;
  display:inline;
  width: 120px;
  margin: auto;
  margin-top: 30px;
  color: green;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 26.4px;
  text-align: center;
}

#cpuSquares {
  width: 225px;
  margin: auto;
}

#cpuSquares div {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#cpuSquares div:nth-child(1) { background-image: url(../images/accordion.jpg); }
#cpuSquares div:nth-child(2) { background-image: url(../images/audio_waveform.jpg); }
#cpuSquares div:nth-child(3) { background-image: url(../images/laptop_music_player.jpg); }
#cpuSquares div:nth-child(4) { background-image: url(../images/music_cd.jpg); }
#cpuSquares div:nth-child(5) { background-image: url(../images/music_keys.jpg); }
#cpuSquares div:nth-child(6) { background-image: url(../images/music_player_buttons.jpg); }
#cpuSquares div:nth-child(7) { background-image: url(../images/music_roll.jpg); }
#cpuSquares div:nth-child(8) { background-image: url(../images/musical_notes.jpg); }
#cpuSquares div:nth-child(9) { background-image: url(../images/portable_music.jpg); }

.cpu-square-image {
  width: 60px;
  height: 60px;
  margin: 1px;
}

#userSquares {
  width: 225px;
  margin: auto;

}

#userSquares div {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#userSquares div:nth-child(1) { background-image: url(../images/accordion.jpg); }
#userSquares div:nth-child(2) { background-image: url(../images/audio_waveform.jpg); }
#userSquares div:nth-child(3) { background-image: url(../images/laptop_music_player.jpg); }
#userSquares div:nth-child(4) { background-image: url(../images/music_cd.jpg); }
#userSquares div:nth-child(5) { background-image: url(../images/music_keys.jpg); }
#userSquares div:nth-child(6) { background-image: url(../images/music_player_buttons.jpg); }
#userSquares div:nth-child(7) { background-image: url(../images/music_roll.jpg); }
#userSquares div:nth-child(8) { background-image: url(../images/musical_notes.jpg); }
#userSquares div:nth-child(9) { background-image: url(../images/portable_music.jpg); }



.user-square {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: grey;
  border-color: white;
  padding: 2px;
  margin: 1px;
  vertical-align: top;
}

.user-square-audio {
  width: 111px;
  height: 111px;
}


ol {
  list-style: none;
  display:inline;
  width: 150px;
  margin: auto;;
  vertical-align: top;
  text-align: center;

}

li {
  display: inline;
  width: 80px;
  height: 50px;
  border: 1px solid;
  border-width: medium;;
  color: rgb(0,0,0);
  vertical-align: top;
  font-size: 20px;
  line-height: 50px;
  margin: 0px;
}

#easy {
  width: 80px;
  height: 30px;
  border-radius: 50px;
}

/*#medium {
  width: 80px;
  height: 30px;
  border-radius: 50px;
}*/

#hard {
  width: 80px;
  height: 30px;
  border-radius: 50px;
}

#reset {
  width: 80px;
  height: 30px;
  border-radius: 50px;
}
