body {
  max-width: 600px;
  margin: 0 auto;
  /*background-image: url("images/musical_notes.jpg');*/
}

h1, h2 {
  font-family: Papyrus, fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 26.4px;
  text-align: center;
}


#cpuSquares {
  width: 225px;
  margin: auto;
}

.cpu-square {
  display: inline-block;
}

.cpu-square-image {
  width: 60px;
  height: 60px;
  margin: 1px;
}

#userSquares {
  width: 225px;
  margin: auto;

}

.user-square {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: grey;
  border-color: white;
  padding: 2px;
  margin: 1px;
  vertical-align: top;
}

.user-square-audio {
  width: 111px;
  height: 111px;
}


ol {
  list-style: none;
  margin: auto;
  margin-top: 10px;
  padding: 0px;
  text-align: center;
}

#play {
  width: 50px;
  height: 30px;
  border-radius: 50px;
}

#level1 {
  width: 60px;
  height: 30px;
  border-radius: 50px;
}

#level2 {
  width: 60px;
  height: 30px;
  border-radius: 50px;
}

#level3 {
  width: 60px;
  height: 30px;
  border-radius: 50px;
}

#reset {
  width: 60px;
  height: 30px;
  border-radius: 50px;
}

#quit {
  width: 60px;
  height: 30px;
  border-radius: 50px;
}
